<div class="login-page">
    <div class="form">
      <form class="login-form" #registrationForm="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <input type="text" #FirstName="ngModel" name="FirstName" [(ngModel)]="formModel.FirstName" placeholder="FirstName" required/>
        <input type="text" #LastName="ngModel" name="LastName" [(ngModel)]="formModel.LastName" placeholder="LastName" required/>
        <input type="text" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" placeholder="UserName" required/>
        <input type="text" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" required placeholder="Email" required/>
        <input type="password" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" placeholder="Password" required/>
        <button type="submit" [disabled]="registrationForm.invalid">create</button>
        <p class="message">Already registered? <a routerLink='/login' routerLinkActive='active'>Sign In</a></p>
      </form>
    </div>
  </div>